.container{
     margin:0 16px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  .app-nav{
    background-color: #3A4953;
    /* position: relative; */
  }
  .App-logo {
    width: 15vmin;
    pointer-events: none;
    padding: 5px 0;
  }
  .logo-container{
    display: flex;
    gap: 10px;
  }
  .nav-item-container {
    padding-top: 15px ;
    display:flex;
    flex-direction:column ;
  
    height:600px ;
    position: absolute;
    top:64px;
    left:-100%;
    opacity:1;
    transition: all 0.5s ease;
  }
  .nav-item-container.active{
    background-color: #3A4953;
    left: 0;
    opacity: 1;
    width: 93.5vw;
    transition: all 0.5s ease;
    z-index: 1;
    list-style:none;
  }
  .nav-item{
    text-align: center;
    padding:1.5rem;
    width: 85%;
    display: block;
    color: white !important;
    text-decoration: none;
  }
  .nav-item-mobile{
    display:block;
    text-align: center;
    padding:1rem;
    margin:0 auto;
    border-radius: 4px;
    width: 60%;
    background-color: green;
    text-decoration: none;
    color:white;
  }
  .fa-bars,.fa-times{
    color:#fff;
    padding-top: 10px;
    font-size: 1.5rem;
  }
  .mobile-menu{
    cursor:pointer;
  }
  .mobile-menu p{
    display:none;
  }
  .App-hamburger{
    padding-top:5px;
  }
  .button-container{
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
  }

  .nav-btn2{
    display:block;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
  }
  .nav-btn{
    display:none;
  }
  
  
  @media (min-width: 768px) {
    .container{
      margin:0 auto;
      max-width:90%;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
    }
    .mobile-menu{
      display: flex;
      gap: 10px;
      color: white;
    }
    .mobile-menu p{
      display: block;
    }
    /* .button-container{
      padding: 5px;
      display: flex;
      gap: 10px;
    } */
    .nav-btn2{
      display:block;
      background-color: transparent;
      border: 1px solid white;
      padding: 10px;
      color: white;
    }
    .nav-item-container {
      padding-top: 15px ;
      display:flex;
      flex-direction:column ;
      width: 95%;
      height:600px ;
      position: absolute;
      top:30px;
      left:-100%;
      opacity:1;
      transition: all 0.5s ease;
    }
    .nav-item{
      text-align: center;
      padding:1.5rem;
      width: 80%;
      display: block;
      color: white !important;
      text-decoration: none;
    }
  }
  
  
  
  @media (min-width:1151px) {
    /* .nav-item-container {
      display: flex;
      padding-top: 10px ;
      list-style:none;
    } */
    .app-nav a{
      color: #fff;
      padding:10px;

    }
    .nav-btn {
      display: block;
      background-color:#41AF4B ;
      border: 1px solid #41AF4B;
      padding: 10px;
      color: white;
    }
    .mobile-menu{
      display: none;
    }
    .nav-item{
      text-align: center;
      padding:2rem;
      width: 100%;
      display: block;
   
    }
    .nav-item-mobile{
      display: none ;
    }
    .nav-item-container {
      /* margin-top: 25px; */
      position: unset;
      background: transparent;
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      /* margin-left: -15px; */
      gap: 15px;
      overflow: hidden;
      list-style: none;
    }
  }
  